<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- cdn bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- cdn fontawesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- bundle min js bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Detail Blog</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container">
        <img style="width: 50px" src="/image/logo.png" alt="brand-logo" />
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
            <li class="nav-item">
              <a
                class="nav-link me-2 fs-5 text-light"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 text-light" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 text-light" href="/add-project">Add
                Project</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a class="btn btn-info text-light" href="/contact">Contact Me</a>
          </form>
        </div>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- blog detail -->
    <div class="blog-detail container mt-3">
      <div class="blog-detail container mt-3">
        <h1>{{data.name}}</h1>
        <div class="author mb-3">{{data.postAt}} | {{data.author}}</div>

        <div class="info container d-flex">
          <div class="info-content">
            <img
              src="/image/blog-img-detail.png"
              alt="detail"
              style="width: 70%"
            />
          </div>
          <div class="info-content-activity">
            <h3>Duration</h3>
            <div class="icon-1">
              <a href="#"><i class="fa-solid fa-clock"></i></a>
              <p>10 August 2020 - 10 Jan 2025</p>
            </div>
            <div class="icon-2">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
              <p>arsyajr9@gmail.com</p>
            </div>
          </div>
        </div>

        <div class="info-content-paragraph container mt-3">
          <p style="text-align: justify;">
            {{data.desc}}
          </p>
        </div>
      </div>
    </div>
    <!-- blog detail end -->
  </body>
</html>